# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# PyTorch / Model Checkpoints
*.pt
*.pth
*.bin
*.ckpt

# HuggingFace / Transformers specific
# Ignore the finetuned model directories which are likely large artifacts
*-finetuned/
emotion-finetune-*/
results/
logs/
